/* .form-signin .someClass{
    color: red;
  } */
/* .form-signin .checkbox{
    position: relative;

}
.form-signin .check_rem {
    position: absolute;
    left: 180px;
    top: 7px;
}
.form-signin .rem_me_color{
    margin-left: 22px;
}
 */

 .form-wrapper{
     margin-top: 10px;
 }